#space{
  padding-bottom: 10px;
  padding-top: 10px;
}

#pad{

}

#header{
  border-bottom: 1px solid black;
  text-align: center;
}

.container * {
    padding: 5px 5px;
}

#texts{
  color: darkgray;

}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#page{
  left: 400px;
}
ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: skyblue;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}
